$primary-color: #f1f2f6;

$accent-blue: #1e90ff;
$accent-blue-dark: #5352ed;
$accent-gray: #dfe4ea;
$accent-green: #7bed9f;
$accent-orange: #eccc68;

$dark-text-color: #2f3542;
$light-text-color: #f1f2f6;
