@import './_colors';
@import './fonts';

// This is here to disable Safari from change phone number colour
a[href^='tel'] {
  text-decoration: inherit;
  color: inherit;
}

.align-center {
  text-align: center;
}

button {
  background-color: $accent-blue;
  border: 1px solid $accent-gray;
  border-radius: map-get($spacing-sizes, '6');
  @include get-text-color($accent-blue);
  font-family: $font-family;
  font-size: map-get($font-sizes, '5');
  font-weight: map-get($font-weights, 'bold');
  letter-spacing: 0.05em;
  padding: map-get($spacing-sizes, '3');
  text-transform: uppercase;
}

button:hover {
  background-color: $accent-blue-dark;
  @include get-text-color($accent-blue-dark);
}

button:focus-visible {
  background-color: $accent-blue-dark;
  @include get-text-color($accent-blue-dark);
  outline: none;
}

html {
  background-color: $primary-color;
  @include get-text-color($primary-color);
  font-family: $font-family;
  font-size: $base-font-size;
  height: 100%;
  width: 100%;
}

.message {
  border-radius: map-get($spacing-sizes, '6');
  border: 2px solid $dark-text-color;
  padding: map-get($spacing-sizes, '3');
}

.error {
  background-color: rgba($accent-red, 0.05);
  border-color: $accent-red;
  @include get-text-color(rgba($accent-red, 0.05));
}

#__next {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh;
  justify-content: flex-start;
  width: 100%;
}

.label {
  font-size: map-get($font-sizes, '6');
  line-height: map-get($line-height-sizes, '6');
  margin-bottom: map-get($spacing-sizes, '6');
  max-width: $max-text-width;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.link {
  color: $accent-orange;
  cursor: pointer;
  text-decoration: underline;
}

.list {
  font-size: map-get($font-sizes, '5');
  line-height: map-get($line-height-sizes, '5');
  list-style: circle;
  margin-bottom: map-get($spacing-sizes, '3');
  margin-inline-start: map-get($spacing-sizes, '3');
}

.text-accent {
  color: $accent-orange;
}

.input {
  border: 1px solid $accent-gray;
  border-radius: map-get($spacing-sizes, '6');
  font-family: $font-family;
  font-size: $base-font-size;
  max-width: $max-text-width;
  padding: map-get($spacing-sizes, '4');
  width: calc(
    100% - 2px - map-get($spacing-sizes, '4') - map-get($spacing-sizes, '4')
  );
}

.input:focus-visible {
  outline: 1px solid $accent-blue;
}

.select {
  // for some reason select dropdowns are 20 px shorter than inputs...
  max-width: calc($max-text-width + 20px);
}

.text {
  font-size: map-get($font-sizes, '5');
  line-height: map-get($line-height-sizes, '5');
  margin-bottom: map-get($spacing-sizes, '5');
  max-width: $max-text-width;
}

@each $number, $font-size in $font-sizes {
  .heading-#{$number} {
    font-family: $heading-font-family;
    font-size: $font-size;
    font-weight: map-get($font-weights, 'bold');
    max-width: $max-text-width;
    padding: 0;
  }
}

@each $number, $line-height in $line-height-sizes {
  .heading-#{$number} {
    line-height: $line-height;
  }
}

@each $number, $margin in $spacing-sizes {
  .heading-#{$number} {
    margin-bottom: $margin;
  }
  .margin-#{$number} {
    margin: $margin;
  }
  .margin-top-#{$number} {
    margin-top: $margin;
  }
  .margin-bottom-#{$number} {
    margin-bottom: $margin;
  }
  .margin-left-#{$number} {
    margin-left: $margin;
  }
  .margin-right-#{$number} {
    margin-right: $margin;
  }
  .padding-#{$number} {
    padding: $margin;
  }
  .padding-top-#{$number} {
    padding-top: $margin;
  }
  .padding-bottom-#{$number} {
    padding-bottom: $margin;
  }
  .padding-left-#{$number} {
    padding-left: $margin;
  }
  .padding-right-#{$number} {
    padding-right: $margin;
  }
}
