@import '../../styles/_colors';
@import '../../styles/_fonts';

.container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: $max-content-width;
  padding: map-get($spacing-sizes, '1');
}

.widgets {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
