@import '../../styles/colors';
@import '../../styles/fonts';

.container {
  align-items: flex-start;
  border: 1px solid $accent-gray;
  border-radius: map-get($spacing-sizes, '6');
  background-color: $primary-color;
  @include get-text-color($accent-orange);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: calc(
    245px - map-get($spacing-sizes, '2') - map-get($spacing-sizes, '2')
  );
  padding: map-get($spacing-sizes, '2');
  h1,
  h3 {
    width: 100%;
  }
}

.imageContainer {
  height: 118px;
  position: relative;
  width: 197px;
}

.pill {
  background-color: $accent-orange;
  border-radius: 50%;
  display: inline-block;
  font-weight: map-get($font-weights, 'bold');
  font-size: map-get($font-sizes, '6');
  @include get-text-color($accent-orange);
  line-height: 1.2;
  margin-bottom: map-get($spacing-sizes, '2');
  padding: map-get($spacing-sizes, '3') map-get($spacing-sizes, '4');
  text-transform: uppercase;
}

.priceContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  h2 {
    margin: 0;
    margin-left: 25px;
    margin-right: 0.5rem;
  }
}
