@import '../../../styles//colors';
@import '../../../styles/fonts';

.activeNavbarLink {
  margin-right: map-get($spacing-sizes, '2');
  a {
    @include get-text-color($accent-orange);
    cursor: pointer;
    font-size: map-get($font-sizes, '4');
    text-decoration: underline;
    text-transform: uppercase;
  }
}

.activeNavbarLink:last-child {
  margin-right: 0;
}

.brand {
  margin-right: auto !important;
}

.navbarLink {
  @include get-text-color($accent-orange);
  cursor: pointer;
  font-size: map-get($font-sizes, '4');
  margin-right: map-get($spacing-sizes, '2');
  text-decoration: none;
  text-transform: uppercase;
  a {
    @include get-text-color($accent-orange);
    cursor: pointer;
    font-size: map-get($font-sizes, '4');
    text-decoration: none;
    text-transform: uppercase;
  }
}

.navbarLink:last-child {
  margin-right: 0;
}
