@import '../styles//colors';
@import '../styles//fonts';

.main {
  background-color: $primary-color;
  flex-grow: 1;
  overflow: auto;
  width: 100%;
}

.mainContent {
  @include get-text-color($primary-color);
  margin: 0 auto;
  width: 100%;
}
