@import '../../styles/_colors';
@import '../../styles/_fonts';

.sidebar {
  display: none;
}

@media only screen and (min-width: 767px) {
  .sidebar {
    align-items: center;
    background-color: rgba($dark-text-color, 0.1);
    display: flex;
    flex-direction: column;
    height: calc(
      100vh - 46px - map-get($spacing-sizes, '1') - map-get($spacing-sizes, '1')
    );
    justify-content: center;
    position: sticky;
    padding: map-get($spacing-sizes, '1');
    top: 0;
    width: calc(
      100% - map-get($spacing-sizes, '1') - map-get($spacing-sizes, '1')
    );
  }
}
